@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/shared/_LayoutUser.cshtml";
}
@{
    ViewData["Title"] = "Online Application";
    ViewData["HeaderMain"] = "Onlilne Application";
    ViewData["HeaderLink"] = "Home";
    Layout = "_layoutUser";

}
<partial name="_HeaderPartial" />

    Welcome to Public Service Commission<b>ONLINE APPLICATION </b>
    <br />
<a asp-controller="Applicant" asp-action="Login" class="btn btn-primary">Applicant Login</a> 
| <a asp-controller="Applicant" asp-action="RegisterApplicant" class="btn btn-primary">Applicant Register</a>

<partial name="_FooterPartial" />

