@model Lok.Models.Service
@{
    ViewData["Title"] = "Service";
    ViewData["HeaderMain"] = "Service";
    ViewData["HeaderLink"] = "Service";
    Layout = "_layoutAdmin";

}
<partial name="_HeaderPartial" />

<form asp-action="Edit" class="row form-material">

    <div class="col-md-4">

        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <label asp-for="ServiceName" class="control-label"></label>
            <input asp-for="ServiceName" class="form-control" />
            <span asp-validation-for="ServiceName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<partial name="_FooterPartial" />
