@model Lok.ViewModel.ChangePasswordVM

@{
    ViewData["Title"] = "Change Password";
    ViewData["HeaderMain"] = "Change Password";
    ViewData["HeaderLink"] = "Change Password";
    Layout = "_layoutUser";

}
<partial name="_HeaderPartial" />

<form asp-action="ChangePassword" class="row form-material">

    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label"></label>
            <input asp-for="NewPassword" type="password" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="NewConfirmPassword" class="control-label"></label>
            <input asp-for="NewConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="NewConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-12">

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
</form>
<partial name="_FooterPartial" />

