@model Lok.ViewModel.ContactVM

@{
    ViewData["Title"] = "Contact";
    ViewData["HeaderMain"] = "Contact Information";
    ViewData["HeaderLink"] = "Contact";
    Layout = "_layoutUser";

}
<partial name="_HeaderPartial" />

<form asp-action="Contact"  class="row form-material">

    <input asp-for="Id" type="hidden" />
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="District" class="control-label"></label>
            <select asp-for="District" asp-items="Model.Districts" class="form-control"></select>
            <span asp-validation-for="District" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="State" class="control-label"></label>
            <select asp-for="State" asp-items="Model.States" class="form-control"></select>
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="MunicipalityType" class="control-label"></label>
            <select asp-for="MunicipalityType" asp-items="Model.MunicipalityTypes" class="form-control"></select>
            <span asp-validation-for="MunicipalityType" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="MunicipalityName" class="control-label"></label>
            <input asp-for="MunicipalityName" class="form-control" />
            <span asp-validation-for="MunicipalityName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="WardNo" class="control-label"></label>
            <input asp-for="WardNo" class="form-control" />
            <span asp-validation-for="WardNo" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Tole" class="control-label"></label>
            <input asp-for="Tole" class="form-control" />
            <span asp-validation-for="Tole" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Marga" class="control-label"></label>
            <input asp-for="Marga" class="form-control" />
            <span asp-validation-for="Marga" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="HouseNo" class="control-label"></label>
            <input asp-for="HouseNo" class="form-control" />
            <span asp-validation-for="HouseNo" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="PhoneNo" class="control-label"></label>
            <input asp-for="PhoneNo" class="form-control" />
            <span asp-validation-for="PhoneNo" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="MobileNo" class="control-label"></label>
            <input asp-for="MobileNo" class="form-control" />
            <span asp-validation-for="MobileNo" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        </div>
</form>
<partial name="_FooterPartial" />