@model Lok.ViewModel.ProfessionalCouncilVM

@{
    ViewData["Title"] = "Council";
    ViewData["HeaderMain"] = "Council Information";
    ViewData["HeaderLink"] = "Council";
    Layout = "_layoutUser";

}
<partial name="_HeaderPartial" />

<form asp-action="CouncilCreate" enctype="multipart/form-data" class="row form-material">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="PId" />

    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="ProviderName" class="control-label"></label>
            <input asp-for="ProviderName" class="form-control" />
            <span asp-validation-for="ProviderName" class="text-danger"></span>
        </div>

    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="Type" class="control-label"></label>
            <select asp-for="Type" asp-items="Model.Types" class="form-control"></select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="RegistrationNo" class="control-label"></label>
            <input asp-for="RegistrationNo" class="form-control" />
            <span asp-validation-for="RegistrationNo" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="ValidateFrom" class="control-label"></label>
            <input asp-for="ValidateFrom" class="form-control" />
            <span asp-validation-for="ValidateFrom" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="RenewDate" class="control-label"></label>
            <input asp-for="RenewDate" class="form-control" />
            <span asp-validation-for="RenewDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="Validity" class="control-label"></label>
            <input asp-for="Validity" class="form-control" />
            <span asp-validation-for="Validity" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="ValidateFromNep" class="control-label"></label>
            <input asp-for="ValidateFromNep" class="form-control" />
            <span asp-validation-for="ValidateFromNep" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="RenewDateNep" class="control-label"></label>
            <input asp-for="RenewDateNep" class="form-control" />
            <span asp-validation-for="RenewDateNep" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="FileName" class="control-label"></label>
            <input asp-for="FileMain" class="form-control" />
            <span asp-validation-for="FileName" class="text-danger"></span>
        </div>

    </div>

    <div class="col-md-12">
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>
<partial name="_FooterPartial" />