@model Lok.ViewModel.GovernmentExperienceVM

@{
    ViewData["Title"] = "Government";
    ViewData["HeaderMain"] = "Government Information";
    ViewData["HeaderLink"] = "Government";
    Layout = "_layoutUser";

}
<partial name="_HeaderPartial" />

<form asp-action="Government" class="row form-material" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="GId" />
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="OfficeAddress" class="control-label"></label>
            <input asp-for="OfficeAddress" class="form-control" />
            <span asp-validation-for="OfficeAddress" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="OfficeName" class="control-label"></label>
            <input asp-for="OfficeName" class="form-control" />
            <span asp-validation-for="OfficeName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Post" class="control-label"></label>
            <input asp-for="Post" class="form-control" />
            <span asp-validation-for="Post" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Sewa" class="control-label"></label>
            <select asp-for="Sewa" asp-items="Model.Sewas" class="form-control"></select>
            <span asp-validation-for="Sewa" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Samuha" class="control-label"></label>
            <input asp-for="Samuha" class="form-control" />
            <span asp-validation-for="Samuha" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="UpaSamuha" class="control-label"></label>
            <input asp-for="UpaSamuha" class="form-control" />
            <span asp-validation-for="UpaSamuha" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="TahaShreni" class="control-label"></label>
            <select asp-for="TahaShreni" asp-items="Model.ShreniTahas" class="form-control"></select>
            <span asp-validation-for="TahaShreni" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Remarks" class="control-label"></label>
            <select asp-for="Remarks" asp-items="Model.RemarkItems" class="form-control"></select>
            <span asp-validation-for="Remarks" class="text-danger"></span>
        </div>
    </div> <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Awastha" class="control-label"></label>
            <select asp-for="Awastha" asp-items="Model.Awasthas" class="form-control"></select>
            <span asp-validation-for="Awastha" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" class="form-control" type="date" id="txtStartDate" />
            <input asp-for="StartDateNep" class="form-control" id="txtStartDateNep" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control" type="date" id="txtEndDate" />
            <input asp-for="EndDateNep" class="form-control" id="txtEndDateNep" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="JobType" class="control-label"></label>
            <select asp-for="JobType" asp-items="Model.JobTypes" class="form-control"></select>
            <span asp-validation-for="JobType" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="FileName" class="control-label"></label>
            <input asp-for="FileMain" class="form-control" />
            <span asp-validation-for="FileName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-12">

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
</form>
<partial name="_FooterPartial" />

@section Scripts{
    <script>
    $(function () {
        $("#txtStartDateNep").nepaliDatePicker({
            onChange: function () {
                $('#txtStartDateNep').val();
                $('#txtStartDate').val(BS2AD($('#txtStartDateNep').val()));
            }
        });

        $('#txtStartDate').change(function () {
            $('#txtStartDateNep').val(AD2BS($('#txtStartDate').val()));
        });


        $("#txtEndDateNep").nepaliDatePicker({
            onChange: function () {
                $('#txtEndDateNep').val();
                $('#txtEndDate').val(BS2AD($('#txtEndDateNep').val()));
            }
        });

        $('#txtEndDate').change(function () {
            $('#txtEndDateNep').val(AD2BS($('#txtEndDate').val()));
        });

        })
    </script>

}
