@model Lok.ViewModel.GovernmentExperienceVM

@{
    ViewData["Title"] = "Government";
}

<h2>Government</h2>

<h4>GovernmentExperienceVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Government">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GId" class="control-label"></label>
                <input asp-for="GId" class="form-control" />
                <span asp-validation-for="GId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficeAddress" class="control-label"></label>
                <input asp-for="OfficeAddress" class="form-control" />
                <span asp-validation-for="OfficeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficeName" class="control-label"></label>
                <input asp-for="OfficeName" class="form-control" />
                <span asp-validation-for="OfficeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post" class="control-label"></label>
                <input asp-for="Post" class="form-control" />
                <span asp-validation-for="Post" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sewa" class="control-label"></label>
                <select asp-for="Sewa" asp-items="Model.Sewas"></select>
                <span asp-validation-for="Sewa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Samuha" class="control-label"></label>
                <input asp-for="Samuha" class="form-control" />
                <span asp-validation-for="Samuha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpaSamuha" class="control-label"></label>
                <input asp-for="UpaSamuha" class="form-control" />
                <span asp-validation-for="UpaSamuha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TahaShreni" class="control-label"></label>
                <select asp-for="TahaShreni" asp-items="Model.ShreniTahas"></select>
                <span asp-validation-for="TahaShreni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <select asp-for="Remarks" asp-items="Model.RemarkItems"></select>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Awastha" class="control-label"></label>
                <select asp-for="Awastha" asp-items="Model.Awasthas"></select>
                <span asp-validation-for="Awastha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobType" class="control-label"></label>
                <select asp-for="JobType" asp-items="Model.JobTypes"></select>
                <span asp-validation-for="JobType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileMain" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

