@model Lok.ViewModel.NonGovernmentExperienceVM

@{
    ViewData["Title"] = "Contact";
    ViewData["HeaderMain"] = "Contact Information";
    ViewData["HeaderLink"] = "Contact";
    Layout = "_layoutUser";

}
<partial name="_HeaderPartial" />

<form asp-action="NonGovernmentEdit" class="row form-material" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="GId" />

    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="OfficeName" class="control-label"></label>
            <input asp-for="OfficeName" class="form-control" />
            <span asp-validation-for="OfficeName" class="text-danger"></span>
        </div>

    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="Post" class="control-label"></label>
            <input asp-for="Post" class="form-control" />
            <span asp-validation-for="Post" class="text-danger"></span>
        </div>

    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="Level" class="control-label"></label>
            <select asp-for="Level" asp-items="Model.Levels" class="form-control"></select>
            <span asp-validation-for="Level" class="text-danger"></span>
        </div>

    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="JobType" class="control-label"></label>
            <select asp-for="JobType" asp-items="Model.JobTypes" class="form-control"></select>
            <span asp-validation-for="JobType" class="text-danger"></span>
        </div>

    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="JobStartDate" class="control-label"></label>
            <input asp-for="JobStartDate" class="form-control" id="txtStartDate" type="date"/>
            <span asp-validation-for="JobStartDate" class="text-danger"></span>
        </div>

    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="JobEndDate" class="control-label"></label>
            <input asp-for="JobEndDate" class="form-control" id="txtEndDate" type="date"/>
            <span asp-validation-for="JobEndDate" class="text-danger"></span>
        </div>

    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="FileName" class="control-label"></label>
            <input asp-for="FileMain" class="form-control" />
            <span asp-validation-for="FileName" class="text-danger"></span>
            @if (!String.IsNullOrEmpty(Model.FileMainLink))
            {
               <br /> <a href="@Url.Content(Model.FileMainLink)" target="_blank"><i class="fa fa-pdf"></i> @Model.FileName</a>
            }
        </div>

    </div>
    <div class="col-md-12">
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
</form>
<partial name="_FooterPartial" />