@model Lok.ViewModel.PreviewVM

@{
    ViewData["Title"] = "Preview";
}

<h2>Preview</h2>

<div class="row">
    <h4>Lok Sewa Aayog</h4>
    <hr />
</div>
<div id="A9782:myform:jj_content" class="ui-panel-content ui-widget-content">

    <table width="100%">
        <tbody>
            <tr>
                <td colspan="3">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td valign="top">
                                    <img id="A9782:myform:j_idt2858" src="/ApplicationFormFillingProcess-portlet/images/nepal_logo.png" alt="" width="200" height="160">
                                </td>
                                <td align="left" valign="top">
                                    <h1>लोक सेवा आयोग</h1>

                                </td>
                                <td align="center">
                                    <img id="A9782:myform:j_idt2860" src="http://psconline.psc.gov.np/Document/e711bce4-05dc-4ee9-92df-e0d6c4cf1a0f701505.jpeg" alt="" width="190" height="180">
                                    <br><img id="A9782:myform:j_idt2862" src="http://psconline.psc.gov.np/Document/1f39df1f-3f9d-4135-a088-bb4ef9d72d17701505.jpeg" alt="" width="190" height="60">

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>


        </tbody>
    </table>




    <table width="100%">

        <tbody>
            <tr>
                <td colspan="3">
                    मास्टर आईडी : <label>
                        701505
                    </label>
                </td>
            </tr>



            <tr>
                <td colspan="3">
                    <br>Name(English)<hr id="A9782:myform:j_idt2868" class="ui-separator ui-state-default ui-corner-all">
                </td>
            </tr>
            <tr>

                <td>
                    <br>First :<label>
                        SAGAR
                    </label>
                </td>
                <td>
                    <br>Middle :<label>
                    </label>
                </td>
                <td>
                    <br>Last :<label>
                        MAHARJAN
                    </label>
                </td>
            </tr>
            <tr>

                <td colspan="3">
                    <br>नाम (नेपालीमा)<hr id="A9782:myform:j_idt2880" class="ui-separator ui-state-default ui-corner-all">
                </td>
            </tr>

            <tr>

                <td>
                    <br>पहिलो :<label>
                        सागर
                    </label>
                </td>
                <td>
                    <br>बीचको :<label>
                    </label>
                </td>
                <td>
                    <br>अन्तिम  अर्थात् थर :<label>
                        महर्जन
                    </label>
                </td>
            </tr>

            <tr>

                <td colspan="3">
                    <br>जन्म मिति<hr id="A9782:myform:j_idt2892" class="ui-separator ui-state-default ui-corner-all">
                </td>
            </tr>



            <tr>
                <td>
                    <br>वि.सं.मा :10/8/2050

                </td>
                <td>
                    <br>ईस्वी सम्वत्  :25/11/1993
                </td>
                <td>
                    <br>
                    <br>लिङ्ग :Male

                </td>
            </tr>





            <tr>

                <td colspan="3">
                    <br>बाबुको नाम  <hr id="A9782:myform:j_idt2906" class="ui-separator ui-state-default ui-corner-all">
                </td>
            </tr>



            <tr>
                <td>
                    <br>पहिलो :<label>
                        राम
                    </label>
                </td>
                <td>
                    <br>बीचको :<label>
                        गोबिन्द
                    </label>
                </td>
                <td>
                    <br>अन्तिम  अर्थात् थर  :<label>
                        महर्जन
                    </label>
                </td>
            </tr>

            <tr>

                <td colspan="3">
                    <br>आमाको नाम<hr id="A9782:myform:j_idt2920" class="ui-separator ui-state-default ui-corner-all">
                </td>
            </tr>



            <tr>
                <td>
                    <br>पहिलो :<label>
                        मन
                    </label>
                </td>
                <td>
                    <br>बीचको :<label>
                        माया
                    </label>
                </td>
                <td>
                    <br>अन्तिम  अर्थात् थर  :<label>
                        महर्जन
                    </label>
                </td>
            </tr>

            <tr>

                <td colspan="3">
                    <br>बाजेको नाम<hr id="A9782:myform:j_idt2935" class="ui-separator ui-state-default ui-corner-all">
                </td>
            </tr>



            <tr>
                <td>
                    <br>पहिलो :<label>
                        ज्ञान
                    </label>
                </td>
                <td>
                    <br>बीचको  :<label>
                        बहादुर
                    </label>
                </td>
                <td>
                    अन्तिम  अर्थात् थर  :<label>
                        महर्जन
                    </label>
                </td>
            </tr>

            <tr>

                <td colspan="3">
                    <br>पति/पत्नीको नाम<hr id="A9782:myform:j_idt2950" class="ui-separator ui-state-default ui-corner-all">
                </td>
            </tr>



            <tr>
                <td>
                    <br>पहिलो :<label>
                    </label>
                </td>
                <td>
                    <br>बीचको :<label>
                    </label>
                </td>
                <td>
                    <br>अन्तिम  अर्थात् थर : <label>
                    </label>
                </td>
            </tr>



            <tr>
                <td colspan="3">
                    <br>नागरिकता <hr id="A9782:myform:j_idt2971" class="ui-separator ui-state-default ui-corner-all">

                </td>
            </tr>
            <tr>
                <td>
                    <br>नागरिकता नं. :<label>
                        28-01-069-03175
                    </label>
                </td>
                <td>
                    <br>जारी गर्ने जिल्ला : <label>
                        Lalitpur
                    </label>
                </td>
                <td>
                    <br>जारी  मिति : <label>
                        5/5/2069
                    </label>


                </td>
            </tr>


            <tr>
                <td colspan="3">
                    <br>
                    <br><fieldset id="A9782:myform:j_idt2986" class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-fieldset-toggleable"><legend class="ui-fieldset-legend ui-corner-all ui-state-default"><span class="ui-fieldset-toggler ui-icon ui-icon-minusthick"></span>शैक्षिक योग्यता</legend><div class="ui-fieldset-content"><div id="A9782:myform:j_idt2987" class="ui-datatable ui-widget" style="text-align:center;width:98%"><table role="grid"><thead><tr role="row"><th id="A9782:myform:j_idt2987:j_idt2988" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>विश्वविद्यालय/बोर्डको नाम</span></div></th><th id="A9782:myform:j_idt2987:j_idt2990" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>शैक्षिक उपाधि</span></div></th><th id="A9782:myform:j_idt2987:j_idt2992" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>संकाय</span></div></th><th id="A9782:myform:j_idt2987:j_idt2994" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>श्रेणी/प्रतिशत</span></div></th><th id="A9782:myform:j_idt2987:j_idt2996" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>मूल</span></div></th><th id="A9782:myform:j_idt2987:j_idt2998" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>TYpe of education</span></div></th><th id="A9782:myform:j_idt2987:j_idt3000" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>उत्तीर्ण गरेको साल</span></div></th><th id="A9782:myform:j_idt2987:j_idt3002" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>शैक्षिक योग्यताको उपाधिको विवरण </span></div></th></tr></thead><tfoot></tfoot><tbody id="A9782:myform:j_idt2987_data" class="ui-datatable-data ui-widget-content"><tr data-ri="0" class="ui-widget-content ui-datatable-even" role="row"><td role="gridcell" style="background-color:#EAF0F8"><div class="ui-dt-c">SLC Board</div></td><td role="gridcell" style="background-color:#EAF0F8"><div class="ui-dt-c">SLC</div></td><td role="gridcell" style="background-color:#EAF0F8"><div class="ui-dt-c">Other</div></td><td role="gridcell" style="background-color:#EAF0F8"><div class="ui-dt-c">First Division/81.88</div></td><td role="gridcell" style="background-color:#EAF0F8"><div class="ui-dt-c">Optional mathematics</div></td><td role="gridcell" style="background-color:#EAF0F8"><div class="ui-dt-c"></div></td><td role="gridcell" style="background-color:#EAF0F8"><div class="ui-dt-c">null/null/2066</div></td><td role="gridcell" style="background-color:#EAF0F8"><div class="ui-dt-c">SLC</div></td></tr><tr data-ri="1" class="ui-widget-content ui-datatable-odd" role="row"><td role="gridcell" style="background-color:#EAF0F8"><div class="ui-dt-c">Tribhuvan University</div></td><td role="gridcell" style="background-color:#EAF0F8"><div class="ui-dt-c">Bachelors</div></td><td role="gridcell" style="background-color:#EAF0F8"><div class="ui-dt-c">Engineering</div></td><td role="gridcell" style="background-color:#EAF0F8"><div class="ui-dt-c">First Division</div></td><td role="gridcell" style="background-color:#EAF0F8"><div class="ui-dt-c">Electronics and Communication</div></td><td role="gridcell" style="background-color:#EAF0F8"><div class="ui-dt-c"></div></td><td role="gridcell" style="background-color:#EAF0F8"><div class="ui-dt-c">null/null/2073</div></td><td role="gridcell" style="background-color:#EAF0F8"><div class="ui-dt-c">Bachelor in Electronics and Communication Engineering</div></td></tr></tbody></table></div></div><input type="hidden" id="A9782:myform:j_idt2986_collapsed" name="A9782:myform:j_idt2986_collapsed" value="false"></fieldset>
                </td>

            </tr>




            <tr>
                <td colspan="3">
                    <br><fieldset id="A9782:myform:j_idt3005" class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-fieldset-toggleable"><legend class="ui-fieldset-legend ui-corner-all ui-state-default"><span class="ui-fieldset-toggler ui-icon ui-icon-minusthick"></span>तालिम</legend><div class="ui-fieldset-content"><div id="A9782:myform:j_idt3006" class="ui-datatable ui-widget" style="text-align:center;width:98%"><table role="grid"><thead><tr role="row"><th id="A9782:myform:j_idt3006:j_idt3007" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>तालिम दिने संस्था</span></div></th><th id="A9782:myform:j_idt3006:j_idt3009" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>तालिम</span></div></th><th id="A9782:myform:j_idt3006:j_idt3011" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>श्रेणी/प्रतिशत</span></div></th><th id="A9782:myform:j_idt3006:j_idt3013" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>अवधि देखि</span></div></th><th id="A9782:myform:j_idt3006:j_idt3015" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>अवधि सम्म</span></div></th></tr></thead><tfoot></tfoot><tbody id="A9782:myform:j_idt3006_data" class="ui-datatable-data ui-widget-content"><tr class="ui-widget-content ui-datatable-empty-message"><td colspan="5"><div class="ui-dt-c">No records found.</div></td></tr></tbody></table></div></div><input type="hidden" id="A9782:myform:j_idt3005_collapsed" name="A9782:myform:j_idt3005_collapsed" value="false"></fieldset>
                </td>

            </tr>
            <tr>
                <td colspan="3">
                    <br><fieldset id="A9782:myform:j_idt3018" class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-fieldset-toggleable"><legend class="ui-fieldset-legend ui-corner-all ui-state-default"><span class="ui-fieldset-toggler ui-icon ui-icon-minusthick"></span>चिकित्सा परिषद सूचना </legend><div class="ui-fieldset-content"><div id="A9782:myform:j_idt3019" class="ui-datatable ui-widget" style="text-align:center;width:98%"><table role="grid"><thead><tr role="row"><th id="A9782:myform:j_idt3019:j_idt3020" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>प्रमाणपत्र दिने काउन्सिलको नाम</span></div></th><th id="A9782:myform:j_idt3019:j_idt3022" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>किसिम</span></div></th><th id="A9782:myform:j_idt3019:j_idt3024" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>दर्ता नं.</span></div></th><th id="A9782:myform:j_idt3019:j_idt3026" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>जारि मिति</span></div></th><th id="A9782:myform:j_idt3019:j_idt3028" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>नविकरण मिति</span></div></th></tr></thead><tfoot></tfoot><tbody id="A9782:myform:j_idt3019_data" class="ui-datatable-data ui-widget-content"><tr class="ui-widget-content ui-datatable-empty-message"><td colspan="5"><div class="ui-dt-c">No records found.</div></td></tr></tbody></table></div></div><input type="hidden" id="A9782:myform:j_idt3018_collapsed" name="A9782:myform:j_idt3018_collapsed" value="false"></fieldset>

                    <br>

                </td>
            </tr>












            <tr>
                <td colspan="3">
                    <br>
                    <br><fieldset id="A9782:myform:j_idt3031" class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-fieldset-toggleable">
                        <legend class="ui-fieldset-legend ui-corner-all ui-state-default"><span class="ui-fieldset-toggler ui-icon ui-icon-minusthick"></span>अनुभव  सम्बन्धी विवरण </legend><div class="ui-fieldset-content">
                            <div id="A9782:myform:j_idt3032" class="ui-datatable ui-widget" style="text-align:center;width:98%"><table role="grid"><thead><tr role="row"><th id="A9782:myform:j_idt3032:j_idt3033" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>कार्यालय </span></div></th><th id="A9782:myform:j_idt3032:j_idt3035" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>कार्यालयको ठेगाना</span></div></th><th id="A9782:myform:j_idt3032:j_idt3037" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>पद </span></div></th><th id="A9782:myform:j_idt3032:j_idt3039" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>सेवा/समूह/उपसमूह </span></div></th><th id="A9782:myform:j_idt3032:j_idt3041" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>श्रेणी/तह</span></div></th><th id="A9782:myform:j_idt3032:j_idt3043" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>स्थायी/अस्थायी/करार</span></div></th><th id="A9782:myform:j_idt3032:j_idt3045" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>अवधि देखि</span></div></th><th id="A9782:myform:j_idt3032:j_idt3047" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>अवधि सम्म</span></div></th></tr></thead><tfoot></tfoot><tbody id="A9782:myform:j_idt3032_data" class="ui-datatable-data ui-widget-content"><tr class="ui-widget-content ui-datatable-empty-message"><td colspan="8"><div class="ui-dt-c">No records found.</div></td></tr></tbody></table></div>


                            <br><div id="A9782:myform:j_idt3050" class="ui-datatable ui-widget" style="text-align:center;width:98%"><table role="grid"><thead><tr role="row"><th id="A9782:myform:j_idt3050:j_idt3051" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>कार्यालय </span></div></th><th id="A9782:myform:j_idt3050:j_idt3053" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>पद </span></div></th><th id="A9782:myform:j_idt3050:j_idt3056" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>श्रेणी/तह</span></div></th><th id="A9782:myform:j_idt3050:j_idt3059" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>स्थायी/अस्थायी/करार</span></div></th><th id="A9782:myform:j_idt3050:j_idt3061" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>अवधि देखि</span></div></th><th id="A9782:myform:j_idt3050:j_idt3064" class="ui-state-default" role="columnheader" style="background-color:#EAF0F8"><div class="ui-dt-c"><span>अवधि सम्म</span></div></th></tr></thead><tfoot></tfoot><tbody id="A9782:myform:j_idt3050_data" class="ui-datatable-data ui-widget-content"><tr class="ui-widget-content ui-datatable-empty-message"><td colspan="6"><div class="ui-dt-c">No records found.</div></td></tr></tbody></table></div>
                        </div><input type="hidden" id="A9782:myform:j_idt3031_collapsed" name="A9782:myform:j_idt3031_collapsed" value="false">
                    </fieldset>
                </td>

            </tr>

            <tr>

                <td colspan="3">
                    <br><fieldset id="A9782:myform:j_idt3069" class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-fieldset-toggleable">
                        <legend class="ui-fieldset-legend ui-corner-all ui-state-default"><span class="ui-fieldset-toggler ui-icon ui-icon-minusthick"></span>ठेगाना विवरण </legend><div class="ui-fieldset-content">
                            <div id="A9782:myform:j_idt3070" class="ui-panel ui-widget ui-widget-content ui-corner-all" style="border:0px">
                                <div id="A9782:myform:j_idt3070_content" class="ui-panel-content ui-widget-content">
                                    <label>
                                        स्थायी ठेगाना
                                    </label><hr id="A9782:myform:j_idt3073" class="ui-separator ui-state-default ui-corner-all">


                                    <table width="100%">

                                        <tbody>
                                            <tr>

                                                <td>
                                                    जिल्ला
                                                    <br><label onblur="value=value.toUpperCase()" onkeyup="value=value.toUpperCase()">
                                                        Lalitpur
                                                    </label>
                                                </td>
                                                <td>
                                                    स्थानिय तहको प्रकार
                                                    <br><label onblur="value=value.toUpperCase()" onkeyup="value=value.toUpperCase()">
                                                        महानगरपालिका
                                                    </label>
                                                </td>
                                                <td>
                                                    न.पा/गा.वि.स.
                                                    <br><label onblur="value=value.toUpperCase()" onkeyup="value=value.toUpperCase()">
                                                        Lalitpur
                                                    </label>
                                                </td>
                                                <td>
                                                    वडा नं
                                                    <br><label onblur="value=value.toUpperCase()" onkeyup="value=value.toUpperCase()">
                                                        21
                                                    </label>
                                                </td>
                                                <td>
                                                    प्रदेश
                                                    <br><label onblur="value=value.toUpperCase()" onkeyup="value=value.toUpperCase()">
                                                    </label>
                                                </td>


                                                <td>
                                                    टोल
                                                    <br><label onblur="value=value.toUpperCase()" onkeyup="value=value.toUpperCase()">
                                                        tajhya
                                                    </label>
                                                </td>
                                                <td>
                                                    मार्ग
                                                    <br><label onblur="value=value.toUpperCase()" onkeyup="value=value.toUpperCase()">
                                                    </label>
                                                </td>
                                                <td>
                                                    घर नं.
                                                    <br><label onblur="value=value.toUpperCase()" onkeyup="value=value.toUpperCase()">
                                                    </label>
                                                </td>
                                                <td>
                                                    फोन नम्बर
                                                    <br><label>
                                                    </label>
                                                </td>
                                                <td>
                                                    मोबाइल नम्बर
                                                    <br>9843608738
                                                </td>

                                                <td>
                                                    ईमेल
                                                    <br><label>
                                                        maharjanakancha@gmail.com
                                                    </label>

                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>


                                    <br><label>
                                        पत्राचार गर्ने ठेगाना
                                    </label><hr id="A9782:myform:j_idt3136" class="ui-separator ui-state-default ui-corner-all"><textarea id="A9782:myform:j_idt3137" name="A9782:myform:j_idt3137" cols="70" rows="3" disabled="disabled" class="ui-inputfield ui-inputtextarea ui-widget ui-state-default ui-corner-all ui-state-disabled ui-inputtextarea-resizable" role="textbox" aria-disabled="true" aria-readonly="false" aria-multiline="true">tajhya,khokana,lalitpur</textarea>
                                    <br>
                                </div>
                            </div>
                        </div><input type="hidden" id="A9782:myform:j_idt3069_collapsed" name="A9782:myform:j_idt3069_collapsed" value="false">
                    </fieldset>
                </td>

            </tr>

        </tbody>
    </table>
</div>
