@model Lok.ViewModel.TrainingVM

@{
    ViewData["Title"] = "TrainingCreate";
}

<h2>TrainingCreate</h2>

<h4>TrainingVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TrainingCreate" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TId" class="control-label"></label>
                <input asp-for="TId" class="form-control" />
                <span asp-validation-for="TId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationName" class="control-label"></label>
                <input asp-for="OrganizationName" class="form-control" />
                <span asp-validation-for="OrganizationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingName" class="control-label"></label>
                <input asp-for="TrainingName" class="form-control" />
                <span asp-validation-for="TrainingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DivisionPercentage" class="control-label"></label>
                <input asp-for="DivisionPercentage" class="form-control" />
                <span asp-validation-for="DivisionPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDateNep" class="control-label"></label>
                <input asp-for="StartDateNep" class="form-control" />
                <span asp-validation-for="StartDateNep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDateNep" class="control-label"></label>
                <input asp-for="EndDateNep" class="form-control" />
                <span asp-validation-for="EndDateNep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileMain" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

