@model Lok.ViewModel.TrainingVM

@{
    ViewData["Title"] = "Training";
    ViewData["HeaderMain"] = "Training Information";
    ViewData["HeaderLink"] = "Training";
    Layout = "_layoutUser";

}
<partial name="_HeaderPartial" />

<form asp-action="TrainingCreate" enctype="multipart/form-data" class="row form-material">
    <input asp-for="Id" type="hidden" />
    <input asp-for="TId" type="hidden" />

    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="OrganizationName" class="control-label"></label>
            <input asp-for="OrganizationName" class="form-control" />
            <span asp-validation-for="OrganizationName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="TrainingName" class="control-label"></label>
            <input asp-for="TrainingName" class="form-control" />
            <span asp-validation-for="TrainingName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="DivisionPercentage" class="control-label"></label>
            <input asp-for="DivisionPercentage" class="form-control" />
            <span asp-validation-for="DivisionPercentage" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="StartDateNep" class="control-label"></label>
            <input asp-for="StartDateNep" class="form-control" />
            <span asp-validation-for="StartDateNep" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="EndDateNep" class="control-label"></label>
            <input asp-for="EndDateNep" class="form-control" />
            <span asp-validation-for="EndDateNep" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="FileName" class="control-label"></label>
            <input asp-for="FileMain" class="form-control" />
            <span asp-validation-for="FileName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>
<partial name="_FooterPartial" />