@model Lok.ViewModel.PasswordConform
@{
    ViewData["Title"] = "Change Password ";
    ViewData["HeaderMain"] = "Change Password";
    ViewData["HeaderLink"] = "Change Password";
    Layout = "_layoutAdmin";

}
<partial name="_HeaderPartial" />

<form asp-action="NewPassword" class="row form-material">

    <div class="col-md-4">

        <div class="form-group">
            <label>New Password</label>

            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", id = "todo", type = "password" })

            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>Confirm Password</label>

            @Html.TextBoxFor(model => model.ConformPassword, new { @class = "form-control", id = "todo2", type = "password" })
            @Html.ValidationMessageFor(model => model.ConformPassword, "", new { @class = "text-danger" })
        </div>
          
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="btnSubmit">Change Password</button>
                        
                    </div>
    </div>
    </form>
<partial name="_FooterPartial" />