@model Lok.Models.SubGroup
@{
    ViewData["Title"] = "Sub Group";
    ViewData["HeaderMain"] = "Sub Group";
    ViewData["HeaderLink"] = "Sub Group";
    Layout = "_layoutAdmin";

}
<partial name="_HeaderPartial" />

<form asp-action="Edit" class="row form-material">

    <div class="col-md-4">

        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <label asp-for="SubGroupName" class="control-label"></label>
            <input asp-for="SubGroupName" class="form-control" />
            <span asp-validation-for="SubGroupName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GroupId" class="control-label"></label>
            <select asp-for="GroupId" asp-items="ViewBag.GroupId" class="form-control">
                <option disabled selected>--- Select ---</option>

            </select>
            <span asp-validation-for="GroupId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<partial name="_FooterPartial" />
