@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@{
    string Role = User.Claims.Where(c => c.Type == ClaimTypes.Role)
                                            .Select(c => c.Value).SingleOrDefault();
}
@if (Role == "Applicant")
{

<li><a asp-controller="Applicant" asp-action="ChangePassword">Change Password</a></li>
<li><a asp-controller="Applicant" asp-action="Logout">Logout</a></li>

   }
