@model Lok.Models.Awastha

@{
    ViewData["Title"] = "Awastha";
    ViewData["HeaderMain"] = "Awastha";
    ViewData["HeaderLink"] = "Awastha";
    Layout = "_layoutAdmin";

}
<partial name="_HeaderPartial" />

<form asp-action="Create" class="row form-material">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>

<partial name="_FooterPartial" />